/* Fuente Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=PT+Serif&family=Ubuntu:wght@300;400&display=swap");
/* DECLARACION DE VARIABLES */
/* RESET CSS Y SELECCION */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: #5C5847;
  color: #FF990A;
}
*::selection {
  background-color: #5C5847;
  color: #FF990A;
}

html::-webkit-scrollbar {
  width: 0.7rem;
}

html::-webkit-scrollbar-track {
  background: #2E2C23;
}

html::-webkit-scrollbar-thumb {
  background: #FF990A;
}

body {
  background: #ff990a;
  background: radial-gradient(circle, #ff990a 0%, #edbf85 50%, #5c5847 100%);
  background-size: cover;
  font-size: 24px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

/* INICIO DECLARACION DE EXTENDS */
.card-2, .contenedor_productos, #section-contacto, .links, .ubicacion, #section-quienes_somos, #section-index {
  display: flex;
  flex-direction: column;
}

/* FIN DECLARACION DE EXTENDS */
/* INICIO DECLARACION MIXINS */
/* FIN DECLARACION MIXINS */
/* INICIO DECLARACION MAPS */
/* FIN DECLARACION MAPS */
/* INICIO DECLARACION MAP-GET/KEYS */
/* FIN DECLARACION MAP-GET/KEYS */
/* IMPORT NAVBAR/HEADER SCSS*/
.bg-dark {
  border: 3px solid #2E2C23;
  border-radius: 80px;
  background-color: #5C5847;
}

.nav-img {
  height: 100px;
  width: 200px;
  transition: all 0.8s ease;
}

.nav-img:hover {
  transform: scale(1.15);
}

.navbar-centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 130px;
}

.nav-link {
  margin-left: 15px;
  color: #FF990A;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.8s;
}
.nav-link:hover {
  color: #F7F06D;
}

.navbar-brand {
  font-size: 2.2rem;
  font-weight: 700;
}

@media only screen and (max-width: 1060px) and (min-width: 768px) {
  .navbar-brand {
    font-size: 1.8rem;
  }

  .nav-link {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .navbar-brand {
    font-size: 1.5rem;
  }

  .nav-link {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 499px) {
  .navbar-brand {
    font-size: 1rem;
    margin: 0;
  }

  .nav-link {
    font-size: 0.9rem;
  }

  .nav-img {
    height: 50px;
    width: 100px;
  }
}
/* IMPORT FOOTER SCSS*/
.footer__redes {
  height: auto;
  text-align: center;
}
.footer__redes .row {
  display: flex;
  justify-content: center;
}
.footer__redes span {
  color: #531;
  font-size: 1.3rem;
  font-weight: 700;
}

.footer__encabezado {
  color: #000;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
  line-height: 50px;
}

.footer__icon {
  height: 35px;
  margin-left: 40px;
  width: 35px;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(92, 88, 71, 0.5);
  margin-top: 10px;
}

@media only screen and (max-width: 850px) {
  .footer__redes span {
    font-size: 1rem;
  }

  .footer__encabezado {
    font-size: 0.5rem;
  }
}
@media only screen and (max-width: 580px) {
  .contenedor__icon {
    width: auto;
  }

  .footer__redes span {
    font-size: 0.7rem;
  }

  .footer__encabezado {
    font-size: 0.4rem;
  }
}
/* IMPORT INDEX SCSS */
#section-index {
  justify-content: space-between;
  margin-bottom: 80px;
}

.videos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.video {
  margin: 20px;
}
.video iframe {
  width: 400px;
  height: 400px;
}

.contenidovideos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.contenidovideos a {
  text-decoration: none;
  color: #FF990A;
  font-weight: 600;
  background-color: #5C5847;
  border: 3px solid #2E2C23;
  border-radius: 15px;
  padding: 8px;
  transition: all 0.6s;
  text-align: center;
}
.contenidovideos a:hover {
  color: #F7F06D;
}

.titulo {
  text-align: center;
  text-transform: uppercase;
  color: #171612;
  font-size: 2.2rem;
  margin-top: 15px;
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
}

.texto {
  text-align: justify;
  background-color: #464335;
  margin: 25px;
  width: auto;
  border-radius: 35px 5px;
  border: 2px solid #2E2C23;
  padding: 10px;
  font-family: "Fredoka", sans-serif, serif;
  font-weight: 700;
}
.texto h2 {
  color: #FF990A;
  font-weight: 700;
}

/* IMPORT QUIENES SOMOS SCSS */
#section-quienes_somos {
  margin-bottom: 120px;
  height: auto;
}

.contenido {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.mapa iframe {
  margin-top: 10px;
  width: 500px;
  height: 380px;
}

.ubicacion__name {
  color: #171612;
  font-weight: 600;
}

.links {
  justify-content: space-around;
  height: 200px;
}
.links a {
  text-decoration: none;
  color: #FF990A;
  font-weight: 600;
  background-color: #5C5847;
  border: 3px solid #2E2C23;
  border-radius: 15px;
  padding: 8px;
  transition: all 0.6s;
  text-align: center;
}
.links a:hover {
  color: #F7F06D;
}

/* IMPORT GALERIA.SCSS */
.carousel-item img {
  width: 580px !important;
  height: 650px;
  margin: auto;
  margin-top: 20px;
}

#section-galeria {
  height: 760px;
}

/* IMPORT CONTACTO SCSS */
#section-contacto {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 130px;
}

.formulario {
  margin-top: 18px;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 50px;
  width: 700px;
  height: 500px;
  background-color: #5C5847;
}

.form-check-label {
  color: #FF990A;
  font-weight: 600;
}

.boton_enviar {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  margin-top: 5px;
  justify-content: center;
}

.text_area {
  resize: none;
}

.contactoWhatsapp {
  margin-top: 20px;
}
.contactoWhatsapp span {
  color: #171612;
  font-weight: 700;
}

/* IMPORT PRODUCTOS SCSS */
#section-producto {
  margin-bottom: 40px;
}

.categoria {
  text-decoration: none;
}

.img_producto {
  height: 300px;
  width: 300px;
}

.contenedor_productos {
  flex-wrap: wrap;
}

.card {
  height: 500px;
}

.card-2 {
  justify-content: center;
}

.producto_titulo {
  color: #171612;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.precio_strong {
  font-weight: bold;
}

/* IMPORT MEDIA QUERIES SCSS */
@media only screen and (max-width: 768px) and (min-width: 431px) {
  #section-index {
    font-size: 1.2rem;
  }

  .video iframe {
    width: 300px;
    height: 250px;
  }

  #section-quienes_somos {
    font-size: 1.2rem;
  }

  .mapa iframe {
    width: 400px;
    height: 350px;
  }

  #section-index {
    margin-bottom: 130px;
    margin-bottom: 130px;
  }

  #section-contacto {
    font-size: 1.2rem;
  }

  .icon_wpp {
    width: 40px;
  }

  .formulario {
    width: 400px;
    height: 500px;
  }

  .producto_titulo {
    font-size: 1.8rem;
  }

  #section-producto {
    margin-bottom: 60px;
  }

  .carousel-item img {
    width: 400px !important;
    height: 450px;
    margin: auto;
    margin-top: 20px;
  }

  #section-galeria {
    height: 500px;
  }

  .titulo {
    font-size: 1.8rem;
  }

  .navbar-centrado {
    margin-left: 85px;
  }
}
@media only screen and (max-width: 430px) {
  #section-quienes_somos {
    font-size: 1rem;
  }

  .mapa iframe {
    width: 300px;
    height: 250px;
  }

  #section-index {
    font-size: 1rem;
    height: auto;
    margin-bottom: 125px;
  }

  .video iframe {
    width: 250px;
    height: 200px;
  }

  #section-contacto {
    font-size: 0.8rem;
  }

  .icon_wpp {
    width: 30px;
  }

  .formulario {
    width: 300px;
    height: 500px;
  }

  .boton_enviar {
    margin-top: 15px;
  }

  .producto_titulo {
    font-size: 1.3rem;
  }

  #section-producto {
    margin-bottom: 65px;
  }

  .carousel-item img {
    width: 280px !important;
    height: 320px;
    margin: auto;
    margin-top: 50px;
  }

  .titulo {
    font-size: 1.5rem;
  }

  .navbar-centrado {
    margin-left: 65px;
  }
}/*# sourceMappingURL=styles.css.map */