/* Fuente Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&display=swap");
/* DECLARACION DE VARIABLES */
/* RESET CSS Y SELECCION */
* {
  margin: 0;
  padding: 0;
}
*::-moz-selection {
  background-color: #CBB6CE;
  color: #0078A3;
}
*::selection {
  background-color: #CBB6CE;
  color: #0078A3;
}

body {
  background: linear-gradient(60deg, #ffd4c2 0%, #f5a989 28%, #47ceff 66%, rgba(0, 105, 143, 0.9640231092) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 24px;
}

/* INICIO DECLARACION DE EXTENDS */
.card-2, .contenedor_productos, #section-contacto, .links, .ubicacion, #section-quienes_somos, #section-index {
  display: flex;
  flex-direction: column;
}

/* FIN DECLARACION DE EXTENDS */
/* INICIO DECLARACION MIXINS */
/* FIN DECLARACION MIXINS */
/* INICIO GALERIA */
.carousel-item img {
  width: 300px;
  height: 550px;
}

#section-galeria {
  height: 675px;
}

/* FIN GALERIA */
/* IMPORT NAVBAR/HEADER SCSS*/
.bg-dark {
  border: 3px solid #907A89;
  border-radius: 80px;
}

.nav-img {
  height: 100px;
  width: 200px;
}

.navbar-centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  margin-left: 15px;
  color: #0078A3;
  font-size: 1em;
  font-weight: 600;
  transition: all 0.8s;
}
.nav-link:hover {
  color: #47CEFF;
}

.navbar-brand {
  font-size: 2.2rem;
  font-weight: 700;
}

@media only screen and (max-width: 1060px) and (min-width: 768px) {
  .navbar-brand {
    font-size: 1.9rem;
  }

  .nav-link {
    font-size: 0.8em;
  }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .navbar-brand {
    font-size: 1.5rem;
  }

  .nav-link {
    font-size: 0.6em;
  }
}
@media only screen and (max-width: 499px) {
  .navbar-brand {
    font-size: 1rem;
    margin: 0;
  }

  .nav-link {
    font-size: 0.6em;
  }

  .nav-img {
    height: 50px;
    width: 100px;
  }
}
/* IMPORT FOOTER SCSS*/
.footer__redes {
  height: auto;
  text-align: center;
}
.footer__redes .row {
  display: flex;
  justify-content: center;
}
.footer__redes span {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
}

.footer__encabezado {
  color: #000;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
  line-height: 50px;
}

.footer__icon {
  height: 50px;
  margin-left: 40px;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #CBB6CE;
  margin-top: 10px;
}

@media only screen and (max-width: 850px) {
  .footer__redes span {
    font-size: 1rem;
  }

  .footer__encabezado {
    font-size: 0.5rem;
  }
}
@media only screen and (max-width: 580px) {
  .contenedor__icon {
    width: auto;
  }

  .footer__redes span {
    font-size: 0.7rem;
  }

  .footer__encabezado {
    font-size: 0.4rem;
  }
}
/* IMPORT INDEX SCSS */
#section-index {
  justify-content: space-between;
  margin-bottom: 80px;
}

.videos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.video {
  margin: 20px;
}
.video iframe {
  width: 400px;
  height: 400px;
}

.contenidovideos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.contenidovideos a {
  text-decoration: none;
  color: #0078A3;
  font-weight: 600;
  background-color: #CBB6CE;
  border: 3px solid #907A89;
  border-radius: 15px;
  padding: 8px;
  transition: all 0.6s;
  text-align: center;
}
.contenidovideos a:hover {
  color: #47CEFF;
}

.titulo {
  text-align: center;
  text-transform: uppercase;
  color: #004B66;
  font-size: 30px;
  font-weight: 800;
}

.texto {
  background-color: #907A89;
  margin-top: 20px;
  border-radius: 35px 5px;
  border: 2px solid #333;
  padding: 10px;
  font-family: "Noto Serif Display", serif;
  font-weight: 700;
}
.texto h2 {
  color: #0078A3;
  font-weight: 700;
}

/* IMPORT QUIENES SOMOS SCSS */
#section-quienes_somos {
  margin-bottom: 120px;
  height: auto;
}

.contenido {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.mapa iframe {
  margin-top: 10px;
  width: 500px;
  height: 380px;
}

.ubicacion__name {
  color: #0078A3;
  font-weight: 600;
}

.links {
  justify-content: space-around;
  height: 200px;
}
.links a {
  text-decoration: none;
  color: #0078A3;
  font-weight: 600;
  background-color: #CBB6CE;
  border: 3px solid #907A89;
  border-radius: 15px;
  padding: 8px;
  transition: all 0.6s;
  text-align: center;
}
.links a:hover {
  color: #47CEFF;
}

/* IMPORT CONTACTO SCSS */
#section-contacto {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 130px;
}

.formulario {
  margin-top: 18px;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 50px;
  width: 700px;
  height: 500px;
  background-color: #CBB6CE;
}

.form-check-label {
  color: #0078A3;
  font-weight: 600;
}

.boton_enviar {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  margin-top: 5px;
  justify-content: center;
}

.text_area {
  resize: none;
}

.contactoWhatsapp {
  margin-top: 20px;
}
.contactoWhatsapp span {
  color: #004B66;
  font-weight: 700;
}

/* IMPORT PRODUCTOS SCSS */
#section-producto {
  margin-bottom: 40px;
}

.categoria {
  text-decoration: none;
}

.img_producto {
  height: 300px;
  width: 300px;
}

.contenedor_productos {
  flex-wrap: wrap;
}

.card {
  height: 500px;
}

.card-2 {
  justify-content: center;
}

.producto_titulo {
  color: #004B66;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.precio_strong {
  font-weight: bold;
}

/* INICIO MEDIA QUERIES */
@media only screen and (max-width: 768px) and (min-width: 425px) {
  #section-index {
    font-size: 1.2rem;
  }

  .video iframe {
    width: 300px;
    height: 250px;
  }

  #section-quienes_somos {
    font-size: 1.2rem;
  }

  .mapa iframe {
    width: 400px;
    height: 350px;
  }
}
@media only screen and (max-width: 424px) {
  #section-index {
    font-size: 1rem;
  }

  .video iframe {
    width: 250px;
    height: 200px;
  }
}
@media only screen and (max-width: 768px) {
  #section-index {
    margin-bottom: 130px;
    margin-bottom: 130px;
  }

  #section-contacto {
    font-size: 1.2rem;
  }

  .icon_wpp {
    width: 40px;
  }

  .formulario {
    width: 400px;
    height: 500px;
  }

  .producto_titulo {
    font-size: 1.8rem;
  }

  #section-producto {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 430px) {
  #section-quienes_somos {
    font-size: 1rem;
  }

  .mapa iframe {
    width: 300px;
    height: 250px;
  }
}
@media only screen and (max-width: 425px) {
  #section-contacto {
    font-size: 0.8rem;
  }

  .icon_wpp {
    width: 30px;
  }

  .formulario {
    width: 300px;
    height: 500px;
  }

  .boton_enviar {
    margin-top: 15px;
  }

  .producto_titulo {
    font-size: 1.3rem;
  }

  #section-producto {
    margin-bottom: 65px;
  }
}
/* FIN MEDIA QUERIES *//*# sourceMappingURL=styles.css.map */