/* Fuente Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=PT+Serif&family=Ubuntu:wght@300;400&display=swap');

/* DECLARACION DE VARIABLES */
$principal: #FF990A;
$principal-hover: #F7F06D;
$secundario: #EDBF85;
$titulo: #171612;
$texto: #531;
$fondo: #5C5847;
$fondo2: #464335;
$fondo-opacity: rgba(92, 88, 71, 0.5);
$borde: #2E2C23;
$iframe-height: 300px;
$iframe-width: 400px;
$fuente1: 'Fredoka', sans-serif;
$fuente2: 'PT Serif', serif;
$fuente3: 'Ubuntu', sans-serif;

/* RESET CSS Y SELECCION */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	&::selection {
		background-color: $fondo;
		color: $principal;
	}
}

body {
	background: rgb(255,153,10);
	background: radial-gradient(circle, rgba(255,153,10,1) 0%, rgba(237,191,133,1) 50%, rgba(92,88,71,1) 100%);
	background-size: cover;
	font-size: 24px;
	font-family: $fuente3;
	font-weight: 500;
}

/* INICIO DECLARACION DE EXTENDS */
%flex-column {
	display: flex;
	flex-direction: column;
}

/* FIN DECLARACION DE EXTENDS */

/* INICIO DECLARACION MIXINS */
@mixin links_formato {
	text-decoration: none;
	color: $principal;
	font-weight: 600;
	background-color: $fondo;
	border: 3px solid $borde;
	border-radius: 15px;
	padding: 8px;
	transition: all 0.6s;
	text-align: center;
}

@mixin flex-align {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

/* FIN DECLARACION MIXINS */

/* INICIO DECLARACION MAPS */
$tamaños: (size_0: 2.2rem,
	size_1: 1.8rem,
	size_2: 1.5rem,
	size_3: 1.3rem,
	size_4: 1.2rem,
	size_5: 1rem,
	size_6: 0.8rem,
	size_7: 0.7rem,
	size_8: 0.5rem,
	size_9: 0.4rem,
);
/* FIN DECLARACION MAPS */

/* INICIO DECLARACION MAP-GET/KEYS */
$font_0: map-get($tamaños, size_0);
$font_1: map-get($tamaños, size_1);
$font_2: map-get($tamaños, size_2);
$font_3: map-get($tamaños, size_3);
$font_4: map-get($tamaños, size_4);
$font_5: map-get($tamaños, size_5);
$font_6: map-get($tamaños, size_6);
$font_7: map-get($tamaños, size_7);
$font_8: map-get($tamaños, size_8);
$font_9: map-get($tamaños, size_9);
/* FIN DECLARACION MAP-GET/KEYS */

/* IMPORT NAVBAR/HEADER SCSS*/
@import "scss/header";
/* IMPORT FOOTER SCSS*/
@import "scss/footer";
/* IMPORT INDEX SCSS */
@import "scss/index";
/* IMPORT QUIENES SOMOS SCSS */
@import "scss/quienes-somos";
/* IMPORT GALERIA.SCSS */
@import "scss/galeria";
/* IMPORT CONTACTO SCSS */
@import "scss/contacto";
/* IMPORT PRODUCTOS SCSS */
@import "scss/productos";
/* IMPORT MEDIA QUERIES SCSS */
@import "scss/mq";
