.footer__redes {
	height: auto;
	text-align: center;

	.row {
		display: flex;
		justify-content: center;
	}

	span {
		color: $texto;
		font-size: $font_3;
		font-weight: 700;
	}
}

.footer__encabezado {
	color: #000;
	font-weight: 500;
	font-size: $font_6;
	text-align: center;
	line-height: 50px;
}

.footer__icon {
	height: 50px;
	margin-left: 40px;
}

footer {
	display: flex;
	justify-content: space-between;
	background-color: $fondo;
	margin-top: 10px;
}

@media only screen and (max-width: 850px) {
	.footer__redes {
		span {
			font-size: $font_5;
		}
	}

	.footer__encabezado {
		font-size: $font_8;
	}
}

@media only screen and (max-width: 580px) {
	.contenedor__icon {
		width: auto;
	}

	.footer__redes {
		span {
			font-size: $font_7;
		}
	}

	.footer__encabezado {
		font-size: $font_9;
	}
}