.bg-dark {
	border: 3px solid $borde;
	border-radius: 80px;
}

.nav-img {
	height: 100px;
	width: 200px;
}

.navbar-centrado {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-link {
	margin-left: 15px;
	color: $principal;
	font-size: 1em;
	font-weight: 600;
	transition: all 0.8s;

	&:hover {
		color: $principal-hover;
	}
}

.navbar-brand {
	font-size: 2.2rem;
	font-weight: 700;
}

@media only screen and (max-width: 1060px) and (min-width: 768px) {
	.navbar-brand {
		font-size: 1.9rem;
	}

	.nav-link {
		font-size: 0.8em;
	}
}

@media only screen and (min-width:500px) and (max-width: 767px) {
	.navbar-brand {
		font-size: 1.5rem;
	}

	.nav-link {
		font-size: 0.6em;
	}
}

@media only screen and (max-width:499px) {
	.navbar-brand {
		font-size: 1rem;
		margin: 0;
	}

	.nav-link {
		font-size: 0.6em;
	}

	.nav-img {
		height: 50px;
		width: 100px;
	}
}