#section-index {
	@extend %flex-column;
	justify-content: space-between;
	margin-bottom: 80px;
}

.videos {
	@extend %flex-align;
}

.video {
	margin: 20px;

	iframe {
		width: $iframe-width;
		height: $iframe-width;
	}
}

.contenidovideos {
	@extend %flex-align;

	a {
		@include links_formato;

		&:hover {
			color: $principal-hover;
		}
	}
}

.titulo {
	text-align: center;
	text-transform: uppercase;
	color: $titulo;
	font-size: 30px;
	font-weight: 800;
}

.texto {
	h2 {
		color: $principal;
		font-weight: 700;
	}

	background-color: $borde;
	margin-top: 20px;
	border-radius: 35px 5px;
	border: 2px solid $texto;
	padding: 10px;
	font-family: "Noto Serif Display",
	serif;
	font-weight: 700;
}