#section-index {
	@extend %flex-column;
	justify-content: space-between;
	margin-bottom: 80px;
}

.videos {
	@include flex-align;
}

.video {
	margin: 20px;

	iframe {
		width: $iframe-width;
		height: $iframe-width;
	}
}

.contenidovideos {
	@include flex-align;

	a {
		@include links_formato;

		&:hover {
			color: $principal-hover;
		}
	}
}

.titulo {
	text-align: center;
	text-transform: uppercase;
	color: $titulo;
	font-size:$font_0;
	margin-top: 15px;
	font-family: $fuente1;
	font-weight: bold;
}

.texto {
	h2 {
		color: $principal;
		font-weight: 700;
	}

	background-color: $fondo2;
	margin: 25px;
	width: auto;
	border-radius: 35px 5px;
	border: 2px solid $borde;
	padding: 10px;
	font-family: $fuente1,
	serif;
	font-weight: 700;
}