#section-producto {
	margin-bottom: 40px;
}

.categoria {
	text-decoration: none;
}

.img_producto {
	height: 300px;
	width: 300px;
}

.contenedor_productos {
	@extend %flex-column;
	flex-wrap: wrap;
}

.card {
	height: 500px;
}

.card-2 {
	@extend %flex-column;
	justify-content: center;
}

.producto_titulo {
	color: $titulo;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
}

.precio_strong {
	font-weight: bold;
}