#section-quienes_somos {
	@extend %flex-column;
	margin-bottom: 120px;
	height: auto;
}

.contenido {
	@include flex-align;
}

.mapa {
	iframe {
		margin-top: 10px;
		width: ($iframe-width) + 100;
		height: ($iframe-height) + 80;
	}
}

.ubicacion {
	@extend %flex-column;
}

.ubicacion__name {
	color: $principal;
	font-weight: 600;
}

.links {
	@extend %flex-column;
	justify-content: space-around;
	height: 200px;

	a {
		@include links_formato;

		&:hover {
			color: $principal-hover;
		}
	}
}